doctype html
html
  head
  
  body
    h1 Welcome! #{firstName},
        p Welcome to m-shop family,we're glad to have you.
        p We're all a big family here,so make sure that you were uploading your photo so that we can know each other.
       

        p If you need any help with shopping about products,please contact us!
        p - Troy,CEO OF M-SHOP 